@import url("../fonts/awesome/fontawesome-all.min.css");
@font-face {
  font-family: 'gothemBol';
  src: url("../fonts/GothaProBol.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gothem';
  src: url("../fonts/GothaProReg.otf");
  font-weight: 400;
  font-style: normal; }
body {
  font-family: 'gothem';
  font-size: 12px;
  background-color: #ffffff;
  color: #333333; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.hidden {
  display: none; }

/**
 *	text
 */
p {
  line-height: 1.6; }

.p-bold {
  font-family: 'gothemBol';
  font-weight: 700; }

.p-h1 {
  font-size: 2.3em;
  font-family: 'gothemBol';
  font-weight: 700; }

.p-h2 {
  font-size: 1.83em;
  font-family: 'gothemBol';
  font-weight: 700; }

.p-h3 {
  font-size: 1.17em;
  font-family: 'gothemBol';
  font-weight: 700; }

.p-h1:before,
.p-h2:before {
  content: '';
  position: relative;
  top: -2px;
  margin-right: 5px;
  border-left: 4px solid #fb5367; }

i.lepo {
  margin-right: 0.5em; }

i.ripo {
  margin-left: 0.5em; }

.br-span {
  display: block; }

/**
 *	BUTTON
 */
button {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }

button.arrw {
  font-size: 0.83em;
  font-family: 'gothem';
  background-color: transparent;
  color: #333333;
  padding: 0;
  z-index: 100; }
  button.arrw:hover, button.arrw:hover span {
    cursor: pointer;
    color: #fb5367 !important; }
  button.arrw:hover i {
    color: #333333 !important; }

button.pink {
  font-family: 'gothemBol';
  font-size: 1em;
  color: #ffffff;
  background-color: #fb5367;
  border-radius: 0;
  padding: 1.4em 3.1em !important;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  button.pink:hover {
    box-shadow: 5px 5px 5px #cbcbce; }
  button.pink span {
    margin: 0 2px; }
  button.pink i {
    margin-bottom: 1px; }
    button.pink i:nth-of-type(1), button.pink i:nth-of-type(6) {
      font-size: 4px;
      opacity: 1; }
    button.pink i:nth-of-type(2), button.pink i:nth-of-type(5) {
      font-size: 0.6em;
      opacity: 0.85; }
    button.pink i:nth-of-type(3), button.pink i:nth-of-type(4) {
      font-size: 8px;
      opacity: 0.5; }
    button.pink i:nth-of-type(1), button.pink i:nth-of-type(2), button.pink i:nth-of-type(3) {
      margin-right: 6px; }
    button.pink i:nth-of-type(4), button.pink i:nth-of-type(5), button.pink i:nth-of-type(6) {
      margin-left: 6px; }

/**
 *	Modal
 */
.modal {
  border-radius: none;
  box-shadow: 10px 10px 10px #333333; }
  .modal .modal-dialog {
    /*		position: relative;
    		top: 50% !important;
    		transform: translateY( -75% )  !important;*/ }
  .modal .modal-header {
    background-color: #ffffff; }
    .modal .modal-header .item-titl {
      margin: 0; }
  .modal form .modal-footer {
    padding: 0; }
  .modal label {
    color: #53545e; }

#sec-send.modal .modal-body {
  text-align: center;
  color: red; }

.red-alarm {
  border-color: red; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .br-span {
    display: inline-block; } }
@media only screen and (max-width: 766px) {
  .br-span {
    display: inline-block; } }
header .container {
  padding: 0 70px; }
header #top-header {
  padding-top: 1.8em;
  padding-bottom: 2.4em;
  background-color: #2c8bab; }
  header #top-header .col-sm-12:last-of-type {
    margin-left: 4em; }
    header #top-header .col-sm-12:last-of-type span:first-of-type {
      letter-spacing: 0.6px; }
  header #top-header p {
    font-size: 1.08em;
    font-family: 'gothemBol';
    margin: 0;
    color: #ffffff;
    text-align: right; }
header #menu-header .navbar {
  padding-left: 0;
  padding-right: 0; }
  header #menu-header .navbar button {
    align-self: flex-end; }
header #menu-header #nowedo-naw {
  justify-content: flex-end; }
  header #menu-header #nowedo-naw .nav-item {
    color: #111111;
    text-align: right; }
  header #menu-header #nowedo-naw .nav-item.active {
    color: #000000; }
  header #menu-header #nowedo-naw .nav-link {
    font-family: 'gothemBol';
    color: inherit;
    padding: 0.5rem 0 0.5rem 3em; }
  header #menu-header #nowedo-naw .nav-link:hover {
    color: #fb5367;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease; }

.menu-sticky {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 10000; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*
  	header {
  		& .container-fluid {
  			padding: 0 70px;
  		}
  	}	*/ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /*
  	header {
  		& .container-fluid {
  			padding: 0 40px;
  		}
  	}	*/ }
@media only screen and (max-width: 766px) {
  header .container {
    padding: 0 15px; }
  header #top-header .col-sm-12 {
    text-align: right;
    margin-left: 0 !important; }
  header #top-header p {
    letter-spacing: 0; } }
#slid1 {
  background-color: #fafbff;
  box-shadow: 0 10px 10px -6px #e8e8e8 inset, 0 -10px 10px -6px #e8e8e8 inset; }
  #slid1 .arr-direct {
    width: 100%;
    position: absolute;
    bottom: 2em; }
    #slid1 .arr-direct > div {
      display: flex;
      justify-content: space-between;
      align-items: flex-start !important; }
  #slid1 .slid-txt {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #slid1 .slid-imeg img {
    width: 100%; }
  #slid1 button.pink {
    margin-top: 40px; }

#slid2 {
  margin-top: 40px;
  margin-bottom: 40px; }
  #slid2 .arr-direct button:nth-of-type(2) {
    margin: 0 1.2em; }
  #slid2 .slid-imeg img {
    width: 100%; }
  #slid2 .slid-txt {
    margin-top: 3em;
    padding-right: 55px; }
    #slid2 .slid-txt p.bullet-red {
      background: url("../img/bullet-pink.png") no-repeat top left; }
    #slid2 .slid-txt p.bullet-yellow {
      background: url("../img/bullet-yellow.png") no-repeat top left; }
    #slid2 .slid-txt p.bullet-pink {
      background: url("../img/bullet-pink.png") no-repeat top left; }
    #slid2 .slid-txt p.bullet-red, #slid2 .slid-txt p.bullet-yellow, #slid2 .slid-txt p.bullet-pink {
      padding-left: 4em;
      text-align: left;
      background-position: 0px 4px;
      background-size: 27px; }
    #slid2 .slid-txt button.pink {
      margin-top: 3em; }
  #slid2 .slid-wrap {
    overflow: hidden; }
    #slid2 .slid-wrap .slde-item {
      display: none; }
    #slid2 .slid-wrap .slde-item.slid-active {
      display: block; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #slid1 .slid-txt p {
    margin-bottom: 8px; }
  #slid1 .slid-txt button.pink {
    margin-top: 0px; }
  #slid1 .arr-direct {
    bottom: 5px; } }
@media only screen and (max-width: 766px) {
  #slid1 .arr-direct {
    bottom: -2.5em; }
  #slid1 .slid-txt {
    order: 1; }
    #slid1 .slid-txt p {
      margin-bottom: 8px; }
    #slid1 .slid-txt button.pink {
      margin: 0 0 1em 0; } }

/*# sourceMappingURL=style.css.map */
