$body-bkg: #ffffff;
$header-top-bkg: #2c8bab;
$h-color: #000000;
$p-color: #333333;
$pink: #fb5367;

$button-bkg: #fb5367;
$button-hover: #ffd27f;


body {
	font-family: 'gothem';
	font-size: 12px;
	background-color: $body-bkg;
	color: $p-color;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.hidden {
	display: none;
}

/**
 *	text
 */
p {
	line-height: 1.6;
}
.p-bold {
	font-family: 'gothemBol';
	font-weight: 700;
}
.p-h1 {
	font-size: 2.3em;
	font-family: 'gothemBol';
	font-weight: 700;
}
.p-h2 {
	font-size: 1.83em;
	font-family: 'gothemBol';
	font-weight: 700;
}
.p-h3 {
	font-size: 1.17em;
	font-family: 'gothemBol';
	font-weight: 700;
}
.p-h1:before,
.p-h2:before {
	content: '';
	position: relative;
	top: -2px;
	margin-right: 5px;
	border-left: 4px solid $pink;
}

i.lepo {
	margin-right: 0.5em;
}
i.ripo {
	margin-left: 0.5em;
}
.br-span {
	display: block;
}

/**
 *	BUTTON
 */
button {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
button.arrw {
	font-size: 0.83em;
	font-family: 'gothem';
	background-color: transparent;
	color: $p-color;
	padding: 0;
	z-index: 100;
	
	&:hover,
	&:hover span {
		cursor: pointer;
		color: $pink !important;
	}
	&:hover i {
		color: $p-color !important;
	}
}
button.pink {
	font-family: 'gothemBol';
	font-size: 1em;
	color: #ffffff;
	background-color: $pink;
	border-radius: 0;
	padding: 1.4em 3.1em !important;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	&:hover {
		box-shadow: 5px 5px 5px #cbcbce;
	}
	& span {
		margin: 0 2px;
	}
	& i {
		margin-bottom: 1px;

		&:nth-of-type(1),
		&:nth-of-type(6) {
			font-size: 4px;
			opacity: 1;
		}
		&:nth-of-type(2),
		&:nth-of-type(5) {
			font-size: 0.6em;
			opacity: 0.85;
		}
		&:nth-of-type(3),
		&:nth-of-type(4) {
			font-size: 8px;
			opacity: 0.5;
		}
		&:nth-of-type(1),
		&:nth-of-type(2),
		&:nth-of-type(3) {
			margin-right: 6px;
		}
		&:nth-of-type(4),
		&:nth-of-type(5),
		&:nth-of-type(6) {
			margin-left: 6px;
		}
	}
}



/**
 *	Modal
 */
.modal {
	border-radius: none;
	box-shadow: 10px 10px 10px $p-color;
	
	.modal-dialog {
/*		position: relative;
		top: 50% !important;
		transform: translateY( -75% )  !important;*/
	}
	& .modal-header {
		background-color: $body-bkg;
		& .item-titl {
			margin: 0;
		}
	}
	& form .modal-footer {
		padding: 0;
	}
	& label {
		color: #53545e;
	}
}
#sec-send.modal .modal-body {
	text-align: center;
	color: red;
}
.red-alarm {
	border-color: red;
}



@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
	.br-span {
		display: inline-block;
	}

}
@media only screen and (max-width: 766px) {
	.br-span {
		display: inline-block;
	}
}