footer {
}


@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {

		
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
}
@media only screen and (max-width: 766px) {
}