$header-top-bkg: #2c8bab;
$menu-color: #111111;

header {
	& .container {
		padding: 0 70px;
	}
	
	& #top-header {
		padding-top: 1.8em;
		padding-bottom: 2.4em;
		background-color: $header-top-bkg;
		
		& .col-sm-12:last-of-type {
			margin-left: 4em;
			& span:first-of-type {
				letter-spacing: 0.6px;
			}
		}
		
		& p {
			font-size: 1.08em;
			font-family: 'gothemBol';
			margin: 0;
			color: #ffffff;
			text-align: right;
		}
	}
	#menu-header {
		& .navbar {
			padding-left: 0;
			padding-right: 0;
			& button {
				align-self: flex-end;
			}
		}
		#nowedo-naw {
			justify-content: flex-end;
			
			& .nav-item {
				color: $menu-color;
				text-align: right;
			}
			& .nav-item.active {
				color: #000000;
			}
			& .nav-link {
				font-family: 'gothemBol';
				color: inherit;
				padding: 0.5rem 0 0.5rem 3em;
			}
			& .nav-link:hover {
				color: $pink;
				-webkit-transition: all 400ms ease;
				-moz-transition: all 400ms ease;
				-o-transition: all 400ms ease;
				transition: all 400ms ease;
			}
		}
	}
}

.menu-sticky {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #ffffff;
	z-index: 10000;
}


@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {
/*
	header {
		& .container-fluid {
			padding: 0 70px;
		}
	}	*/
}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
/*
	header {
		& .container-fluid {
			padding: 0 40px;
		}
	}	*/
}
@media only screen and (max-width: 766px) {

	header {
		& .container {
			padding: 0 15px;
		}		
		& #top-header {
			
			& .col-sm-12 {
				text-align: right;
				margin-left: 0 !important;
			}		
			& p {
				letter-spacing: 0;
			}
		}
	}
}