#slid1 {
	background-color: #fafbff;
	box-shadow:
		0 10px 10px -6px #e8e8e8 inset,
		0 -10px 10px -6px #e8e8e8 inset;
		
	& .arr-direct {
		width: 100%;
		position: absolute;
		bottom: 2em;
		
		& > div {
			display: flex;
			justify-content: space-between;
			align-items: flex-start !important;
		}
	}
	& .slid-txt {
		display: flex;
		flex-direction: column;
		justify-content: center;
//		padding-top: 130px;

	}
	& .slid-imeg img {
		width: 100%;
	}
	& button.pink {
		margin-top: 40px;
	}
	
}

#slid2 {
	margin-top: 40px;
	margin-bottom: 40px;
	
	& .arr-direct {
		& button:nth-of-type(2) {
			margin: 0 1.2em;
		}
	}
	& .slid-imeg img {
		width: 100%;
	}
	& .slid-txt {
		margin-top: 3em;
		padding-right: 55px;
		
		& p.bullet-red {
			background: url( "../img/bullet-pink.png" ) no-repeat top left;
		}
		& p.bullet-yellow {
			background: url( "../img/bullet-yellow.png" ) no-repeat top left;
		}
		& p.bullet-pink {
			background: url( "../img/bullet-pink.png" ) no-repeat top left;
		}
		& p.bullet-red,
		& p.bullet-yellow,
		& p.bullet-pink {
			padding-left: 4em;
			text-align: left;
			background-position: 0px 4px;
			background-size: 27px;
		}
		& button.pink {
			margin-top: 3em; 
		}
	}
		
	& .slid-wrap {
		overflow: hidden;
		
		& .slde-item {
			display: none;
		}
		& .slde-item.slid-active {
			display: block;
		}
	}
}

@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px) {

}
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait) {
		
	#slid1 {
		
		& .slid-txt {
			& p {
				margin-bottom: 8px;
			}
			& button.pink {
				margin-top: 0px;
			}
		}
		& .arr-direct {
			bottom: 5px;
		}
	}
}
@media only screen and (max-width: 766px) {
	#slid1 {
			
		& .arr-direct {
			bottom: -2.5em;
		}
		
		& .slid-txt {
			order: 1;
			& p {
				margin-bottom: 8px;
			}
			& button.pink {
				margin: 0 0 1em 0;
			}
		}
	}
}